<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" data-bs-theme="light">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <th:block th:insert="~{include/commons :: meta}"/>
    <title th:text="#{app_title}"></title>
</head>
<body>
<div class="container">
    <div class="text-center">
        <h1>About</h1>
    </div>
</div>
<th:block th:insert="~{include/commons :: js}"/>
</body>
</html>
