<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="development | dev | local">
        <include resource="top/baihu/logging/logback/console-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="production | native">
        <include resource="top/baihu/logging/logback/file-appender.xml"/>
        <include resource="top/baihu/logging/logback/console-appender.xml"/>
        <include resource="top/baihu/logging/logback/loki-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="LOKI"/>
        </root>
    </springProfile>

    <logger name="org.springframework" level="INFO"/>
    <logger name="top.baihu" level="INFO"/>
</configuration>
