name: Build Native
on:
    push:
        branches: [main]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Setup Graalvm
              uses: graalvm/setup-graalvm@v1
              with:
                  distribution: "graalvm"
                  java-version: "25"
            - name: Env
              run: |
                  echo "JAVA_HOME: $JAVA_HOME"
                  java --version
                  gradle -v
                  echo "GRAALVM_HOME: $GRAALVM_HOME"
                  native-image --version
            - name: Build
              run: |
                  chmod a+x ./gradlew
                  ./gradlew platform-boot-server:app-server:nativeCompile

                  mkdir -p ./dist
                  cp ./platform-boot-server/app-server/build/native/nativeCompile/** ./dist/
#            - name: Deploy
#              uses: wlixcc/SFTP-Deploy-Action@v1.2.6
#              with:
#                  server: ${{ secrets.SERVER_HOST }}
#                  username: ${{ secrets.SERVER_USER }}
#                  ssh_private_key: ${{ secrets.SERVER_KEY }}
#                  local_path: "./dist/**"
#                  remote_path: "/data/app/native"
#                  sftpArgs: "-o ConnectTimeout=5"
