name: Build
on:
    push:
        branches: [main]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Setup Java
              uses: actions/setup-java@v5
              with:
                  distribution: "liberica"
                  java-version: "25"
            - name: Env
              run: |
                  echo "JAVA_HOME: $JAVA_HOME"
                  java --version
                  gradle -v
            - name: Build
              run: |
                  chmod a+x ./gradlew
                  ./gradlew clean bootJar

                  mkdir -p ./dist
                  cp ./platform-boot-server/admin-server/build/libs/admin.jar ./dist/admin.jar
                  cp ./platform-boot-server/app-server/build/libs/app.jar ./dist/app.jar
            - name: Deploy
              uses: wlixcc/SFTP-Deploy-Action@v1.2.6
              with:
                  server: ${{ secrets.SERVER_HOST }}
                  username: ${{ secrets.SERVER_USER }}
                  ssh_private_key: ${{ secrets.SERVER_KEY }}
                  local_path: "./dist/**"
                  remote_path: "/data/app/binaries"
                  sftpArgs: "-o ConnectTimeout=5"
